<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>

<div class="header">
    <div class="type_select">
        <h3>Select similarity search type</h3>
        <label>
        <input type="checkbox" />ImageNet</label>
        <label>
        <input type="checkbox" />Color</label>
        <label>
        <input type="checkbox" />Text</label>
    </div>
    <div class="droparea">Drop Here</div>
</div>

<div class="row">
    <div class="column">
        <img src="/img/shoe1.jpg">
        <img src="/img/shoe.jpg">
        <img src="/img/printer2.jpg">
        <img src="/img/printer1.jpg">
    </div>
    <div class="column">
        <img src="/img/dress.jpeg">
        <img src="/img/coil1.jpeg">
        <img src="/img/bikini.jpg">
        <img src="/img/bear.jpg">
    </div>
    <div class="column">
        <img src="/img/dress.jpeg">
        <img src="/img/coil1.jpeg">
        <img src="/img/bikini.jpg">
        <img src="/img/bear.jpg">
    </div>
    <div class="column">
        <img src="/img/shoe1.jpg">
        <img src="/img/shoe.jpg">
        <img src="/img/printer2.jpg">
        <img src="/img/printer1.jpg">
    </div>
</div>



<script src="/static/app.js">
</script>
</body>
</html>
