<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image similarity search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>

<header id="header">
    <h1>Image similarity search</h1>
    <div class="wrapper">
        <div class="left_div">
            <div class="droparea">Drop Image Here</div>
        </div>
    </div>
    <p>or click on button and see random one</p>
    <a href="/get_random_image"><button type="button">Random image</button></a>
    <p>or click on random image from database bellow to see similar images.</p>
    <a href='https://github.com/lukoucky/image_recommendation'><img class='img_github' src="/static/GitHub-Mark-Light-32px.png"></a>
</header>


<div class="row">
    <div class="column">
    	{% for data in imgs[0] %}
    		<a href='/predict_similar/{{ data.img }}'><img src="/image/{{ data.img }}"></a>
    	{% endfor %}
    </div>
	<div class="column">
    	{% for data in imgs[1] %}
    		<a href='/predict_similar/{{ data.img }}'><img src="/image/{{ data.img }}"></a>
    	{% endfor %}
    </div>
    <div class="column">
    	{% for data in imgs[2] %}
    		<a href='/predict_similar/{{ data.img }}'><img src="/image/{{ data.img }}"></a>
    	{% endfor %}
    </div>
	<div class="column">
    	{% for data in imgs[3] %}
    		<a href='/predict_similar/{{ data.img }}'><img src="/image/{{ data.img }}"></a>
    	{% endfor %}
    </div>
</div>
<script src="/static/app.js">
</script>
</body>
</html>
